
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 60px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.funcionalidades {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.funcion {
    list-style-type: none;
    margin-right: 20px;
}

.funcion a {
    text-decoration: none;
}