
/* body {
    
} */

.contenedor {
    width: 100%;
    min-height: 90vh;
    border: 1px solid blue;
    display: flex;
    /* justify-content: space-evenly !important; */
    align-items: center;
}

.contenedor > div {
    border: 1px solid yellow;
}

.imagen-intro {
    /* width: 500px; */
}

.espacio {
    flex-grow: 1;
}

.contenedor-introduccion {
    width: 500px;
}