

main {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor {
    width: 80%;
}

.titulo {
    width: 100%;
    border: 1px solid blue;
    text-align: center;
}

.seccion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion:first-child {
    margin-bottom: 50px;
}

.formulario {
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}

.input {
    width: 40%;
}

.contenedor-boton {
    margin-top: 25px;
}