
body {
    background-image: url(../assets/img/fondos/fondo-inventario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenedor {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-inventario {
    width: 80%;
    padding: 40px;
    box-shadow: 5px 5px 10px rgba(250, 250, 250, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.4rem);
}

.contenedor-titulo {
    margin: 40px 0 20px;
}

.titulo {
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

.carrusel {
    width: 65%;
    border-radius: 12px;
    margin-top: 20px;
    /* border: 1px solid blue; */
}

.img-carrusel {
    /* border-radius: 15px; */
    width: 100%;
    height: 320px;
    object-fit: cover
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-producto {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(250, 250, 250, 0.6);
    color: black;
    /* padding: 20px; */
    margin: 8px;
    /* border: 1px solid blue; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 500px;
    padding-bottom: 25px;
}

.producto {
    /* border: 1px solid red; */
    width: 62%;
    /* height: 400px; */
    object-fit: cover
}


.titulo-producto {
    width: 80%;
    text-align: center;
    /* border: 1px solid red; */
    font-size: 1.3rem;
    margin-top: 15px;
}

.tienda-producto {
    font-size: 1.2rem;
}

.precio-producto {
    color: #c99e1e;
    font-weight: bold;
    font-size: 1.4rem;
}





.btn-escoger {
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 6px 10px;
    transition: all 0.4s ease-in-out;
}

.btn-escoger:hover {
    scale: 1.1;
    font-weight: normal;
    background-color: black;
    color: white;
}